

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 300;
    background-image: linear-gradient(to left, #D3D3D3, #708090);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 60px;

}


.user-info {
    background-color: Linen;
    width: 17%; /* 45% чтобы уместить 2 квадрата в ряду с небольшим промежутком */
    height: 200px; /* Вы можете настроить высоту под свои нужды */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid lightgray;
    margin-top: 90px; /* Промежуток между квадратами */
    border-radius: 50px ;

;
}
.user-info:hover{
    background-color: darkgray;
    border: 2px solid cornflowerblue;
}

.user-button {
    width: 100px;
    height: 30px;
    border-radius: 40px;
    background-color: cornflowerblue;
    border: 2px solid transparent; /* Добавлен border для сохранения размера при наведении */
    transition: background-color 0.3s, width 0.3s, height 0.3s; /* Плавный переход */
    cursor: pointer; /* Установка курсора */
}

.user-button:hover {
    background-color: darkgrey;
    width: 150px; /* Увеличение размера при наведении */
    height: 40px; /* Увеличение размера при наведении */
    cursor: grab; /* Изменение курсора при наведении */
    border-color: cornflowerblue; /* Смена цвета рамки при наведении (если необходимо) */
}


/*post---------------*/


.card {
    width: 850px;
    height: 600px;
    perspective: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.post-info, .comments {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.post-info {
    background-color: dimgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.comments {
    background-color: cornflowerblue;
    transform: rotateY(180deg);
}

#container{
    margin: 80px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: darkgray;
    border-radius: 30px;

}

#container:hover{
    background-color: cornflowerblue;
    cursor: grab;
}




/*users-details---------------*/

.usersbg {
    width: 100%;
    height: 100%;
    background-color: rgba(100, 149, 237, 0.5);
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;

    }



/*#user-posts-details{*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    width: 300px;*/
/*    height: 20%;*/


/*}*/

button{
    width: 100px;
    height: 30px;
    background-color: lightgray;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



/*!* Стили для блока с информацией о постах *!*/
#user-posts-details {
    display: flex;
    flex-wrap: wrap; /* Позволяет блокам с информацией о постах размещаться в ряд */
    justify-content: space-between; /* Равномерное распределение блоков по ширине родительского контейнера */
    align-items: center;
    margin: 20px;
    width: 90%; /* 90% ширины страницы */
}

/* Стили для отдельного блока с информацией о посте */
#user-posts-details > div {
    width: 800px; /* Равномерное распределение по 5 блоков в ряду, с учетом отступов между ними */
   height: 100px;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    text-align: center;
}






